body {
  background: #95039F;
}

.App {
  background: #E4B2E8;
  border: 0;
  border-bottom: 2px solid #BF57FF;
  border-radius: 10px;
  box-shadow: 0 2px 5px 0px #46004D;
  height: 70%;
  left: calc(~'10% - 20px');
  padding: 20px;
  position: absolute;
  top: calc(~'15% - 20px');
  width: 80%;

  .u-hidden {
    display: none;
  }
}