.FileList {
  &-item {
    background: #6A7CFE;
    border: 0;
    border-bottom: 1px solid #4E5CC1;
    border-radius: 3px;
    color: #F1D8FF;
    font-family: Arial;
    font-size: 13px;
    margin-bottom: 2px;
    padding: 6px 5px;
  }
}