body {
  background-color: #0f001d;

  input#file-input {
    display: none;
  }

  .app {
    background-color: #6300c0;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.5) inset;
    height: 650px;
    left: 50%;
    margin: -325px 0 0 -600px;
    position: absolute;
    top: 50%;
    width: 1200px;
  }
}
