@import 'Helpers.less';

h1, h2, h3, h4, h5, p {
  margin: 0;
}

label {
  color: #888;
  font-size: 15px;
  margin-right: 5px;
}

input, select {
  background-color: #335;
  border-radius: 2px;
  border: 0;
  color: #fff;
  margin-right: 10px;
  padding: 5px;
  .transition(background-color, 0.1s);

  &:hover, &:focus {
    background-color: #446;
  }

  &[type="text"] {
    box-shadow: 0 0 0 1px #668 inset;
    padding: 8px;
  }

  &[type="button"] {
    border-bottom: 2px solid #112;
    box-shadow: 0 0 0 1px #446;
    cursor: pointer;
    padding: 8px 30px;
    text-shadow: 0 -1px 0 #000;
  }
}

select {
  border: 0;
  border-radius: 2px;
  cursor: pointer;
  padding: 5px;
}

body {
  background-color: #0f001d;
  color: white;
  font-family: Arial;

  .app {
    background-color: #6300c0;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.5) inset;
    cursor: default;
    height: 650px;
    left: 50%;
    margin: -325px 0 0 -600px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    width: 1200px;

    > input {
      display: none;
    }

    > div {
      background-color: black;
      border-radius: 7px;
      box-sizing: border-box;
      height: ~"calc(100% - 10px)";
      left: 5px;
      overflow: hidden;
      position: relative;
      top: 5px;
      width: ~"calc(100% - 10px)";
    }
  }
}
