@import './Helpers.less';

.channel-editor {
  background-color: #000;
  border-radius: 4px;
  box-shadow: 0 0 2px 0 #fff;
  margin: 12px 0;
  overflow: hidden;

  .channel-editor-header {
    background-color: #112;
    margin: 0;
    padding: 5px;

    .channel-title {
      color: #aaa;
      display: inline-block;
      margin-right: 10px;
    }
  }

  .channel-editor-body {
    padding: 10px 10px 0;

    > div:not(:last-child) {
      margin-bottom: 10px;
    }

    canvas.preview {
      border: 1px solid #aaa;
      float: left;
      height: 50px;
      margin: 5px 20px 0 0;
      width: 80px;
    }

    input[type="text"] {
      background-color: #112;
    }

    .effect-editor {
      background-color: #00000a;
      border-radius: 2px;
      box-shadow: 0 0 1px 0 #fff;
      display: inline-block;
      margin: 0 10px 0 0;
      padding: 5px;
    }
  }
}
