.color-field {
  cursor: text;
  position: relative;

  label {
    color: #aaa;
    cursor: text;
    margin: 7px 5px;
    pointer-events: none;
    position: absolute;
  }

  input {
    padding-left: 20px !important;
  }
}
